.menu-container {
  padding: 10px;
  background-color: #21acefc7;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-text{
  text-align: center;
}
